@font-face{font-family:'mg-font-alinormal';src:url('./alinormal-400-3f902f5c4c17.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'mg-font-alinormal';src:url('./alinormal-500-c57a9cfb60d2.woff2') format('woff2');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'mg-font-alinormal';src:url('./alinormal-600-4a6a92d79080.woff2') format('woff2');font-weight:600;font-style:normal;font-display:swap;}
